* {
    box-sizing: border-box;
    font-family: 'Fraunces';
    font-size: 14px;
}

@font-face {
    font-family: Montserrat;
    src: url(./font/Montserrat/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: Fraunces;
    src: url(./font/Fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf);
}

p,
h1,
h2 {
    margin: 0px;
}

h1 {
    font-size: 1.8rem;
}

h2 {
    font-size: 1.4rem;
}

body {
    background-color: hsl(31, 38%, 78%);
}

main {
    background-color: white;
    width: 300px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    padding: 0px;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.45);
    border-radius: 10px;
    overflow: hidden;
}

.top-section img {
    max-width: 100%;
}

figure {
    margin: 0px;
}

.middle-section,
.bottom-section {
    font-family: 'Fraunces';
    padding: 0px 20px;
}

.middle-section {
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
    gap: 10px;
}

.middle-section p {
    font-family: 'Monserrat';
    font-size: 1rem;
}

span {
    letter-spacing: 0.2rem;
    font-size: 1rem;
}

.bottom-section {
    margin: 0px 0px 30px;
}

.price {
    display: flex;
    align-items: center;
    margin: 15px 0px;
}

.price p {
    padding-left: 20px;
    text-decoration: line-through;
}

.price h2 {
    color: hsl(158, 36%, 37%);
    font-size: 2rem;
}

button img {
    width: 17px;
    vertical-align: middle;
    margin-right: 10px;
}

button {
    background-color: hsl(158, 36%, 37%);
    color: white;
    border: none;
    padding: 15px;
    border-radius: 10px;
    width: 100%;
    text-align: center;
    vertical-align: middle;
}

button:hover {
    background-color: hsl(158, 33%, 44%);
}

@media (min-width: 576px) {
    .desktop-layout {
        display: flex;
    }

    main {
        width: 480px;
        height: 350px;
        margin: 20px auto;
    }

    .top-section img {
        max-height: 100%;
    }

    .right,
    .left {
        width: 50%;
    }

    .middle-section {
        gap: 5px;
        margin: 20px 0px;
    }

    span {
        font-size: 0.65rem;
        margin-bottom: 5px;
    }

    .middle-section p {
        margin: 5px 0px 0px;
    }

    .middle-section h1 {
        font-size: 1.9rem;
    }

    .price {
        margin: 20px 0px;
    }

    .price h2 {
        font-size: 1.6rem;
    }
}